body{
  background-color: #D2CFF5;
  background-size: cover;
  background-repeat: no-repeat;
}
div.header{
  background-color: #9B95F5;
}
header.img {
  position: absolute;
  left: 0px;
  top: 0px;
}
.header img.logo{
  width: 20%;
  height: 7%;
  margin: 1%;
}
form.Signup{
  float: left;
  margin-top: -66px;
  margin-left: 83%;
}
input.Signup{
  width: 150%;
  height: 45px;
  border-radius: 15px;
  border: none;
  background: rgb(0 0 0 0.10);
  color: black;
}
form.Signin{
  position: absolute;
  float: right;
  margin-top: -66px;
  margin-left: 90%;
}
input.Signin{
  width: 175%;
  height: 45px;
  border-radius: 15px;
  border: none;
  background: rgb(0 0 0 0.10);
  color: black;
}

form.Pesan{
  position: absolute;
  float: left;
}

input.Pesan{
  width: 210px;
  height: 45px;
  border-radius: 15px;
  border: none;
  background: rgba(0 0 0 0,10);
  color: black;
}

input.loginin{
  width: 210px;
  height: 45px;
  border: none;
  background: #00CFDF;
  color: black;
}
input.daftarin{
  width: 210px;
  height: 45px;
  border: none;
  background: #00CFDF;
  color: black;
}
form.Login{
  background-color: rgba(255,255,255,1);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  width: 320px;
  margin : 20px auto;
  text-align: center;
}
form.register{
  background-color: rgba(255,255,255,1);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  width: 320px;
  margin : 20px auto;
  text-align: center;
}
}
input{
  padding: 3px;
  font-size: inherit;
}
input [type="text"] {
  display: block;
  margin-bottom: 10px;
  width : 100% ;
  border: 2px solid #305d60;
  background: #faf6d9;
}
input.register [type="submit"] {
  width: 344px;
  height: 45px;
  border: none;
  background: #00CFDF;
  color: #000000;
}
input.Login [type="password"] {
  display: block;
  margin-bottom: 10px;
  width : 100% ;
  border: 2px solid #305d60;
  background: #faf6d9;
}

form.gaminge{
  color: #9BFFFF;
  font-family: myanmar text;
  font-size: 180%;
}
form.WithOnetech{
  color: #4b4b4b;
  font-family: myanmar text;
  font-size: 160%;
  margin-top: -4%;
}
input.selengkapnya{
  width: 15%;
  height: 45px;
  border: none;
  background: #1d9fb6;
  color: white;
  font-size: 120%;
}
}
div.contentindex{
  margin-top: 10%;
  margin-left: 10%;
}
div.navigasi ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 110%;
}
div.navigasi li{
  float: left;
}
div.navigasi li a{
  display: block;
  font-family:sans-serif;
  color: #252a2a;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
div.navigasi{
  margin-left: 40%;
}
li.kategori{
  display:inline-block;
}
li.kategori:hover ul.isi-kategori{
  display: block;
  border-bottom: none;
}
ul.isi-kategori a:hover {
  color: blue !important;
  border-bottom: none;
}
ul.isi-kategori{
  position: absolute;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #f9f9f9;
}
ul.isi-kategori a{
  color: #383636 !important;
}
}
.navigasi li :hover{
  text-decoration:underline;
  background: white;
}
form.cari{
  position: absolute;
  float: right;
  margin-top: 5px;
  margin-left: 83%;
}
.cari {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 2px solid #252a2a;
  padding: 8px 0;
}
.cari input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: #252a2a;
}
.cari input::placeholder {
  color: #252a2a;
}
.content-produk{
  float: right;
  display: grid;
  grid-gap: 20px 20px;
  grid-template-columns: auto auto auto;
  background-color: none;
  padding: 0px;
  margin-top: 3%;
}
.item{
  padding: 50px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}
.item h1{
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
  margin-top: 20px;
}
.item h2{
  font-size: 15px;
  color: #fc7900;
  font-family: sans-serif;
  text-align: center;
  margin-top: 0px;
}
.item a{
  font-size: 13px;
  font-family: sans-serif;
  text-align: right;
  margin-top: 0px;
}
input.button{
  font-size: 15px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: #009F9F;
  color: white;
  margin-top: -70px;
}
.macam-produk{
  float: left;
  height: auto;
  margin-top: 3%;
  margin-bottom: 10%;
  margin-left: 0%;
  background-color: #C7C6DB;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  width: 25%;
}
.tambahproduk {
  position: absolute;
  width: 8%;
  height: 45px;
  border-radius: 10px;
  border: none;
  background: #121616;
  color: #5fc2c2;
  margin-top: -4%;
  margin-left: 16%;
}
h3{
  font-family:sans-serif;
}
.macam{
  display: block;
  font-family:sans-serif;
  color: #252a2a;
  text-decoration: none;
}
#message {
  display:none;
  background-color: rgba(255,255,255,0.5);
  color: #000;
  position: absolute;
  padding: 5%;
  margin-top: -32%;
  margin-left: 5%;
  width: 17%;
  height: 35%;
}
#message p {
  font-size: 100%;
}
.valid {
  color: green;
}
.valid:before {
  position: relative;
  left: -20%;
  content: "OK";
}
.invalid {
  color: red;
}
.invalid:before {
  position: relative;
  left: -35px;
  content: "X";
}
h2.judul-produk{
  font-size: 3vw;
  font-family: sans-serif;
  text-align: center;
  color: #ffffff;
  margin-left: 37%;
  background-color: #252a2a;
  width: 30%;
  border-radius: 0px;
}
.card {
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
  max-width: 30%;
  margin: auto;
  text-align: center;
  font-family: arial;
  font-size: 1,4vw;
  margin-left: 37%;
  margin-top: -2%
}
img.gambar-produk{
  padding-top: 7%;
  width: 70%;
}
p.deskripsi{
  font-size: 1.2vw;
}
.price {
  color: #534d51;
  font-size: 1.4vw;
}
.card button {
  border: none;
  outline: 0;
  padding: 3%;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 2vw;
}
.card button:hover {
  opacity: 0.7;
}
input.Signup:hover {
  background-color: #252a2a;
  border-color: #278fa2;
  border-style: solid;
}
input.Signin:hover {
  background-color: #252a2a;
  border-color: #ecb40e;
  border-style: solid;
}
input.alamat-tujuan{
  position: absolute;
  margin-top: -4%;
  margin-left: 40%;
  width: 15%;
  height:28px;
  background-color: rgba(255,255,255,0.4);
  border-style: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}
input.alamat-tujuan::placeholder{
  color: #434441;
}
input.tambahproduk:hover {
  opacity: 0.7;
}
@media screen and (max-width: 768px){
  body{
    background: url("img/Mobile.jpg");
    background-size: 270% 330%;
    background-repeat: no-repeat;
    background-position: right;
  }
  div.header{
    border-radius: 8px;
  }
  form.Signup{
    float: left;
    margin-top: -28px;
    margin-left: 70%;
  }
  input.Signup{
    width: 100%;
    height: 20.5px;
    font-size: 76%;
  }
  form.Signin{
    position: absolute;
    float: right;
    margin-top: -27px;
    margin-left: 82%;
  }
  input.Signin{
    width: 107%;
    height: 20px;
    font-size: 72%;
  }
  div.navigasi{
    margin-left: 0%;
  }
  div.navigasi ul{
    font-size: 68%;
  }
  form.cari{
    margin-top: -7px;
    margin-left: 72%;
  }
  .cari {
    width: 22%;
    border-bottom: 1px solid #252a2a;
    padding: 5px 0;
    font-size: 72%;
  }
  form.gaminge{
    font-size: 70%;
  }
  form.WithOnetech{
    font-size: 80%;
    margin-top: 3%;
    color: #4b4b4b;
  }
  input.selengkapnya{
    width: 22%;
    height: 20px;
    font-size: 60%;
  }
  div.contentindex{
    margin-top: 50%;
    margin-left: 5%;
  }
  .header img.logo{
    width: 55%;
  }
  .content-produk{
    grid-template-columns: 80%;
    margin-right: -19%;
  }
  .macam-produk{
    position: absolute;
    width: 23%;
    font-size: 90%
  }
  .tambahproduk {
    width: 87%;
    height: 30px;
    margin-top: 550%;
    margin-left: -6%;
  }
  #message{
    margin-top: 8%;
    height: 60%;
    width: 80%;

  }
  h3.message{
    font-size: 5vw;
  }
  .valid:before {
    left: -5%;
    text-align: center;
  }
  .invalid:before {
    left: -5%;
    text-align: center;
  }
  body{
  	background:url('background.jpg');
    background-size:100%;
    font-family: Arial;
  }
  .wrap{
    max-width: 350px;
    border-radius: 20px;
    margin:auto;
    background:rgba(0,0,0,0.8);
    box-sizing: border-box;
    padding:40px;
    color:#fff;
    margin-top: 100px;
  }
  h2{
    text-align: center;
  }
  input[type=text],input[type=password]{
    width:100%;
    box-sizing:border-box;
    padding:12px 5px;
    background:rgba(0,0,0,0.10);
    outline:none;
    border:none;
    border-bottom:1px dotted #fff;
    color:#fff;
    border-radius: 5px;
    margin:5px;
    font-weight: bold;
  }
  input[type=submit]{
    width:100%;
    box-sizing: border-box;
    padding:10px 0;
    margin-top: 30px;
    outline:none;
    border:none;
    background:#60adde;
    opacity:0.7;
    border-radius: 20px;
    font-size: 20px;
    color:#fff;
  }
  input[type=submit]:hover{
    background:#003366;
    opacity:0.7;
  }
}
