body{
	background:url('Gambar/background.jpg');
  background-size:100%;
  font-family: Time-New-Romans;
  text-align: center;
}
.wrap{
  max-width: 350px;
  border-radius: 10px;
  margin:auto;
  background-color: #9B95F5 ;
  box-sizing: border-box;
  padding:40px;
  color:#fff;
  margin-top: 100px;
}
h2{
  text-align: center;
}
input{
  padding: 3px;
  font-size: inherit;
  }

input [type="text"] {
  display: block;
  margin-bottom: 10px;
  width : 100% ;
  border: 2px solid #305d60;
  background: #faf6d9;
}

input[type=Submit]{
  width:100%;
  box-sizing: border-box;
  padding:10px 0;
  margin-top: 30px;
  outline:none;
  border:none;
  background:#60adde;
  opacity:0.7;
  border-radius: 20px;
  font-size: 25px;
  color:#fff;
  font-family: Time-New-Romans;
}
input[type=submit]:hover{
  background:#003366;
  opacity:0.7;
}
